@rendermode InteractiveServer

<div id="glowingtablecontainer">
    <div class="glow"></div>
    <div class="dark-border"></div>
    <div class="white-border"></div>
    <div class="plain-border"></div>
    
    <table class="glowing-table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in People)
            {
                <tr>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>@person.Age</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private List<Person> People;

    protected override void OnInitialized()
    {
        People = Database.People;
    }
}